<configuration scan="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/crypto-exchange-quotes-harvester.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="io.netty.handler.codec.http.websocketx.WebSocket08FrameEncoder" level="INFO"/>
    <logger name="io.netty.handler.codec.http.websocketx.WebSocket08FrameDecoder" level="INFO"/>
    <logger name="info.bitrich.xchangestream.poloniex2.PoloniexStreamingService" level="INFO"/>
    <logger name="info.bitrich.xchangestream.service.netty.JsonNettyStreamingService" level="INFO"/>

</configuration>